Lib/
Include/
Scripts/
pyvenv.cfg
.idea/.gitignore
.idea/hpcl.iml
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.vscode/launch.json
__pycache__/main.cpython-312.pyc
etc/jupyter/nbconfig/notebook.d/pydeck.json
Library/bin/libimalloc.dll
Library/bin/libiomp5md.dll
Library/bin/libiomp5md.pdb
Library/bin/libiompstubs5md.dll
Library/bin/libomp-fallback-cstring.spv
Library/bin/mkl_avx.1.dll
Library/bin/mkl_avx2.1.dll
Library/bin/mkl_avx512.1.dll
Library/bin/mkl_blacs_ilp64.1.dll
Library/bin/mkl_blacs_intelmpi_ilp64.1.dll
Library/bin/mkl_blacs_intelmpi_lp64.1.dll
Library/bin/mkl_blacs_lp64.1.dll
Library/bin/mkl_blacs_mpich2_ilp64.1.dll
Library/bin/mkl_blacs_mpich2_lp64.1.dll
Library/bin/mkl_blacs_msmpi_ilp64.1.dll
Library/bin/mkl_blacs_msmpi_lp64.1.dll
Library/bin/mkl_cdft_core.1.dll
Library/bin/mkl_core.1.dll
Library/bin/mkl_def.1.dll
Library/bin/mkl_intel_thread.1.dll
Library/bin/mkl_mc.1.dll
Library/bin/mkl_mc3.1.dll
Library/bin/mkl_msg.dll
Library/bin/mkl_pgi_thread.1.dll
Library/bin/mkl_rt.1.dll
Library/bin/mkl_scalapack_ilp64.1.dll
Library/bin/mkl_scalapack_lp64.1.dll
Library/bin/mkl_sequential.1.dll
Library/bin/mkl_tbb_thread.1.dll
Library/bin/mkl_vml_avx.1.dll
Library/bin/mkl_vml_avx2.1.dll
Library/bin/mkl_vml_avx512.1.dll
Library/bin/mkl_vml_cmpt.1.dll
Library/bin/mkl_vml_def.1.dll
Library/bin/mkl_vml_mc.1.dll
Library/bin/mkl_vml_mc2.1.dll
Library/bin/mkl_vml_mc3.1.dll
Library/bin/omptarget.dll
Library/bin/omptarget.rtl.level0.dll
Library/bin/omptarget.rtl.opencl.dll
Library/bin/tbb12.dll
Library/bin/tbbbind_2_0.dll
Library/bin/tbbbind_2_5.dll
Library/bin/tbbbind.dll
Library/bin/tbbmalloc_proxy.dll
Library/bin/tbbmalloc.dll
Library/share/doc/tbb/third-party-programs.txt
share/jupyter/nbextensions/pydeck/extensionRequires.js
share/jupyter/nbextensions/pydeck/index.js
share/jupyter/nbextensions/pydeck/index.js.map
share/man/man1/isympy.1
share/man/man1/ttx.1
out.txt
out.zip
qodana.yaml
.github/workflows/qodana_code_quality.yml
__pycache__/simple_sc.cpython-312.pyc
__pycache__/advanced_sc.cpython-312.pyc
etc/jupyter/nbconfig/notebook.d/__pycache__/advanced_sc.cpython-312.pyc
etc/jupyter/nbconfig/notebook.d/__pycache__/main.cpython-312.pyc
etc/jupyter/nbconfig/notebook.d/__pycache__/simple_sc.cpython-312.pyc
etc/jupyter/nbconfig/notebook.d/__pycache__/.idea/hpcl.iml
etc/jupyter/nbconfig/notebook.d/__pycache__/.idea/material_theme_project_new.xml
etc/jupyter/nbconfig/notebook.d/__pycache__/.idea/modules.xml
etc/jupyter/nbconfig/notebook.d/__pycache__/.idea/vcs.xml
etc/jupyter/nbconfig/notebook.d/__pycache__/.idea/misc.xml
etc/jupyter/nbconfig/notebook.d/__pycache__/.idea/inspectionProfiles/profiles_settings.xml
etc/jupyter/nbconfig/notebook.d/workflows/qodana_code_quality.yml
etc/jupyter/nbconfig/notebook.d/__pycache__/.idea/workspace.xml
